@(user: Option[SecureSocialUser])

@main("CodeEditor", user) {
    @playscalajs.html.scripts("client", "/assets")
    <script src="@routes.Assets.at("deps/ace/ace.js")"></script>
    <script src="@routes.Assets.at("deps/ace/ext-language_tools.js")"></script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/codeEditor.css")">

    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>

    <script type="text/javascript" src="@routes.Assets.at("deps/ace-grammar/ace_grammar.min.js")"></script>


    <script type="text/javascript" src="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/jquery-ui-themes/flick/jquery-ui.min.css")">

    <link rel='stylesheet' href="@routes.Assets.at("lib/typicons/typicons.css")"/>

    <script src="@routes.Assets.at("lib/bootbox.js/bootbox.js")"></script>

    <div class="row">
        <div class="col-md-offset-2 col-md-5" id="editor">
        </div>
    </div>
}