html, body {
    margin: 0;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 150px;
}

label {
    display : block;
}

.text-output {
    margin-top: 20px;
}

.text-output > textarea {
    color : red;
}