logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iml
.idea
/api/server/app/de/htwg/zeta/server/model/modelValidator/generated/
/api/server/model_specific/
/couchbase/
/model_specific/
/mongodb/
/sbt/
docker-compose\.override\.yml
/webapp/yarn.lock

webapp/coverage/
