logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iml
server/app/assets/modelEditor/editor/model_specific
.idea
/api/server/app/de/htwg/zeta/server/model/modelValidator/generated/
