version: '2'
services:
  generatorControl:
    image: 1science/sbt:0.13-oracle-jdk-8
    volumes:
      - ./api:/app
      - ./sbt/generatorControl:/root
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: ["sbt", "project generatorControl", "run --master-port 2551 --master-num 1 --workers 3 --worker-seeds generatorControl:2551 --dev-port 2552 --dev-seeds generatorControl:2551"]
    environment:
      - ZETA_MONGODB_SERVER=mongodb
    links:
      - mongodb

  mongodb:
    image: mongo:3.3
    volumes:
      - ./mongodb:/data/db
    ports:
      - 27017:27017

  api:
    image: 1science/sbt:0.13-oracle-jdk-8
    volumes:
      - ./api:/app
      - ./sbt/server:/root
    environment:
      - APPLICATION_SECRET=superSecret
      - ZETA_MONGODB_SERVER=mongodb
    stdin_open: true
    ports:
      - 9000:9000
    links:
      - mongodb
      - webapp
      - generatorControl
    command: ["sbt", "project server", "-Dzeta.actor.cluster.0=generatorControl:2551 -Dzeta.webapp.host=webapp -Dzeta.deployment.environment=production", "run"]

  webapp:
    image: node:6-alpine
    volumes:
      - ./webapp:/src
    command: "ash -c 'yarn; npm run dev'"
    working_dir: /src

  images:
    image: 1science/sbt:0.13-oracle-jdk-8
    volumes:
      - ./api:/app
      - ./sbt/images:/root
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: ["./createDockerImages.sh"]

