.editor{
    height:500px;
    width:calc(100% - 170px);
}

#ace-editor {
    height: 100%;
    width:70%;
}
.ace-container{
    border-radius: 5px;
    border: 1px solid gray;
}

#selectable .ui-selecting {
    text-shadow: 2px 2px #000000;
}

#selectable .ui-selected {
    color:#007AFF;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:scroll;
}

.typcn{
    font-size: 20px;
    color: #0c7cf4;
}

#selectable li {
    padding-left: 3px;
    background: transparent;
    margin: 2px 2px 2px 0px;
    font-size: 14px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    color: black;
}

.sidebar-container{
    background-color: #ff0000;
    height:100%;
    width:160px;
}

#sidebar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 500px;
    width: 160px;
    float:left;
    border-right: 1px solid lightgray;
    background-color: #F7F7F7;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
    margin: 0;
    background-color: #272822;
}

.dialogWithDropShadow {
    box-shadow: 10px 10px 10px #888;
}

.toolbar {
    height: 49px;
    width: 100%;
    float:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightgray;
    background-color: #F7F7F7;
}

.toolbarbtn {
    margin:3px;
}

.toolbar-button:hover{
    background:linear-gradient(#FCFCFC, #DCDCDC);
}

.toolbar-button:active{
    background: linear-gradient(#1AD6FD, #1D62F0);
}

.code-editor-container{
    font-family: Helvetica;
}