<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Model Validator</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("../../../public/modelValidator/client/style.css")">
    </head>
    <body>

        <h1>Validator</h1>

        <div class="text-input">
            <label for="txt-metaModel">Meta Model</label>
            <textarea id="txt-metaModel"></textarea>
        </div>

        <div class="text-input">
            <label for="txt-instance">Instance</label>
            <textarea id="txt-instance"></textarea>
        </div>

        <button id="btn-validate">Validate</button>

        <div class="text-output">
            <label for="inp-valid">Valid</label>
            <input type="text" id="inp-valid" readonly>
            <label for="txt-output">Output</label>
            <textarea id="txt-output" readonly></textarea>
        </div>

        <script src="@routes.Assets.at("../../../public/modelValidator/client/examples/instance.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/client/examples/metamodel.js")"></script>

        <script src="@routes.Assets.at("../../../public/modelValidator/shared/Constants.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/JSONException.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/Bounds.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/Attribute.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/ValidationResult.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/Instance.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/MetaModel.js")"></script>
        <script src="@routes.Assets.at("../../../public/modelValidator/shared/ModelValidator.js")"></script>

        <script src="@routes.Assets.at("../../../public/modelValidator/client/example.js")"></script>

    </body>
</html>