/* Generic layout. */

.chat-container{
   position: absolute;
   right: 244px;
   bottom:0px;
   width:150px;
}

.share-button-container{
   position: absolute;
   right:50%;
   bottom:0px;
   width:150px;
}

.toolbar-container {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-left: 246px;
   height: 40px;
}

.stencil-container {
   position: absolute;
   left: 0;
   top: 40px;   /* toolbar height */
   bottom: 20px;  /* statusbar height */
   width: 240px;
}

.inspector-container {
   position: absolute;
   top: 40px;   /* toolbar height */
   right: 0;
   bottom: 20px; /* statusbar height */
   width: 240px;
}

.paper-container {
   position: absolute;
   top: 40px;   /* toolbar height */
   left: 241px;
   right: 241px;
   bottom: 20px; /* statusbar height */
   overflow: hidden;
}

.paper-container .paper-scroller {
   width: 100%;
   height: 100%;
}

.statusbar-container {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   height: 20px;
}