html, body {
   margin: 0;
   padding: 0;
}

body {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: Arial;
   font-family: "Source Sans Pro", sans-serif;
}

h1 {
   position: absolute;
   z-index: 1;
   top: 8px;
   left: 90px;
   color: white;
   margin: 0;
   padding: 0;
   font-size: 18px;
}

.btn {
   background-color: #49afcd;
   padding: 4px 8px;
   color: white;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   font-size: 11px;
   line-height: 30px;
   border: 1px solid #ccc;
   background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
   background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
   background-image: linear-gradient(top,#5bc0de,#2f96b4);
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   margin: 0;
   margin-left: -5px;
   cursor: pointer;
}
.btn:hover {
   opacity: .9;
}
.btn > img {
   vertical-align: middle;
   height: 20px;
}

