.inspector {
    position: relative;
    overflow: auto;
    width: 100%;
}

.inspector .panel {
    margin-bottom: 0px;
}

.inspector .btn-list-del {
    margin-right: 5px;
    float: right;
}

.inspector .btn-xs {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.inspector-container-inner {
    padding: 0px;
}

.inspector .group {
    overflow: hidden;
}

.inspector .group.closed {
    height: 42px;
    max-height: 42px;
}

.inspector .group > .group-label {
    cursor: pointer;
}

.inspector .group > .group-label:before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    border: 5px solid transparent;
    border-top-color: #2c3e50;
}

.inspector .group.closed > .group-label:before {
    top: 2px;
    left: 2px;
    border: 5px solid transparent;
    border-left-color: #2c3e50;
}

.inspector .field {
    margin: 0;
}

.link-tools .tool-options {
    display: block;
}

/* Toggle */

.custom-span-list-collapse {
    overflow: hidden;
    cursor: pointer;
    margin-left: 5px;
}

.inspector .list-item > .field > label {
    display: none;
}

.inspector .hidden {
    display: none;
}

.inspector-container {
    overflow: auto;
    margin: 0;
}

.inspector .list-item {
    padding: 4px;
    margin: 0px -5px 0px -5px;
}

.inspector .field {
    padding: 4px;
}
.inspector .field, .inspector .list-item:first-of-type {
    margin-top: 4px;
}

.inspector .field, .inspector .list-item .btn-default {
    border: 0px;
}

.inspector output {
    display: inline;
}

.inspector label {
    font-weight: normal;
    display: inline;
}

.inspector .toggle {
    display: inline;
    float: right;
}

.inspector-toggle-container {
    right: 0;
}

.inspector-container-hidden {
    width: 40px;
}

.inspector-container-hidden div {
    display: none;
}

.inspector-toggle-icon-wrapper {
    float: left;
}

.inspector input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background-color: black;
}

.inspector input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

.inspector input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
}

@media screen and (min-width: 0\0
) {
    /* IE9 & IE10 */
    .inspector input[type="range"] {
        height: 20px;
        line-height: 20px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 only */
    .inspector .group > .field > form {
        height: 60px;
    }

    .inspector input[type="range"] {
        height: 10px;
        border-style: hidden;
        box-shadow: none;
    }
}