/* This element is being dragged when a new element is about to be dropped into the main paper. */
.stencil-paper-drag {
    position: absolute;
    z-index: 100;
    display: none;
}
.stencil-paper-drag.dragging {
    display: block;
    opacity: .7;
}

.stencil {
    padding: 0px;
}

.stencil .group {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stencil .group.closed {
    height: 42px;
    max-height: 42px;
}

.stencil .group > .group-label {
    cursor: pointer;
}
.stencil .group > .group-label:before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    border: 5px solid transparent;
    border-top-color: #2c3e50;
}
.stencil .group.closed > .group-label:before {
    top: -1px;
    left: 2px;
    border: 5px solid transparent;
    border-left-color: #2c3e50;
}

.stencil .element [magnet] {
    pointer-events: none;
}

.stencil-toggle-container {
    left: 0;
}

.stencil-container-hidden {
    width: 40px;
}

.stencil-container-hidden div {
    display: none;
}
.stencil .panel {
    margin: 0;
}

/* Hide some nodes of elements in stencil. */
.stencil .elements .element.basic.Image text,
.stencil .elements .element.devs.Atomic .inPorts text,
.stencil .elements .element.devs.Atomic .outPorts text,
.stencil .elements .element.pn.Transition text {
    display: none;
}