/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #3c3f35; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 4px;
}

#container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: #2f3129;
    padding: 10px;
}

#sidebar {
    flex-grow: 0;
    color: white;
    min-width: 150px;
    max-height: 100vh;
    overflow-y: auto;
}

#sidebar a {
    display: block;
    color: #f4fdd2;
    text-decoration: none;
    padding: 2px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#sidebar a:hover {
    color: #95ad3e;
}

.editor {
    flex-grow: 1;
}

.download-btn {
    margin: 0 0 10px 0;
}

.download-btn>.glyhicon {
    margin: 0 0 0 5px;
}

.folder-element {
    color: #74d474;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}