#container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: #2f3129;
    padding: 10px;
}

#sidebar {
    flex-grow: 0;
    color: white;
}

#sidebar a {
    color: white;
    text-decoration: none;
    padding: 2px;
    margin-right: 5px;
}

.editor {
    flex-grow: 1;
}
