#container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: #2f3129;
    padding: 10px;
}

#sidebar {
    flex-grow: 0;
    color: white;
    min-width: 150px;
    max-height: 100vh;
    overflow-y: auto;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 2px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#sidebar a:hover {
    color: #bbb;
}

.editor {
    flex-grow: 1;
}

.download-btn {
    margin: 0 0 10px 0;
}

.download-btn>.glyhicon {
    margin: 0 0 0 5px;
}