@(user: Option[SecureSocialUser], uuid: String, editorType: String)

@webpage.WebpageGeneralLayout("CodeEditor", user) {
    @playscalajs.html.selectScript("client" , "/assets")

    <script type="text/javascript">
        client.Main().editor("@uuid", "@editorType");
    </script>

    <script type="text/javascript" src="@routes.Assets.at("ace/ace.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("ace/ext-language_tools.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("ace-grammar/ace_grammar.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootbox.js/bootbox.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.js")"></script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/codeEditor.css")">
    <link rel='stylesheet' type="text/css" href="@routes.Assets.at("lib/typicons/typicons.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/jquery-ui/jquery-ui.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/jquery-ui-themes/flick/jquery-ui.min.css")">

        <div id="editor">
        </div>
}