#contextMenu {
	background: #F0F0F0;
	position: absolute;
	position:fixed;
	display:none;
	box-shadow: 5px 5px 5px #888888;
	z-index:200;
}

.menuTable{
	border-spacing: 0;
    border-collapse: collapse;
    width:100px;
    overflow:scroll;
    background: #ffffff;
}

.menuItem{
	border: 1px solid black;
	background: #f0f0f0;
	text-align: center;
	cursor: pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}