@(user: SecureSocialUser)
@views.html.webpage.WebpageGeneralLayout("New Diagram", Some(user)) {
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Edit account information</h2>
            </div>

            <form action="" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="@user.profile.firstName" value="@user.profile.firstName">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="@user.profile.lastName" value="@user.profile.lastName">
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="@user.profile.fullName" value="@user.profile.fullName">
                    </div>

                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="text" class="form-control" id="email" placeholder="@user.profile.email" value="@user.profile.email">
                    </div>

                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" placeholder="********">
                        <span class="help-block">Leave blank if you don't want to change your password.</span>
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">Repeat Password</label>
                        <input type="password" class="form-control" id="passwordRepeat" placeholder="********">
                        <span class="help-block">Leave blank if you don't want to change your password.</span>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">save account information</button>
                </div>

            </form>
        </div>
    </div>


}