@(user: SecureSocialUser, accountForm: Form[AccountFormData])

@import helper._

@views.html.webpage.WebpageGeneralLayout("New Diagram", Some(user)) {
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Edit account information</h2>
            </div>

            @form(action = controllers.routes.AccountController.saveChanges) {
                <div class="panel-body">
                    <div class="form-group">
                        @inputText(accountForm("firstName"), 'class -> "form-control", '_label -> "First Name", 'placeholder -> accountForm.get.firstName)
                        @inputText(accountForm("lastName"), 'class -> "form-control", '_label -> "Last Name", 'placeholder -> accountForm.get.lastName)
                        @inputText(accountForm("fullName"), 'class -> "form-control", '_label -> "Username", 'placeholder -> accountForm.get.fullName)
                        @inputText(accountForm("eMail"), 'class -> "form-control", '_label -> "E-Mail", 'placeholder -> accountForm.get.eMail)
                        @inputPassword(accountForm("password.main"), 'class -> "form-control", '_label -> "Password", 'placeholder -> "********")
                        @inputPassword(accountForm("password.confirm"), 'class -> "form-control", '_label -> "Confirm Password", 'placeholder -> "********")
                        <span class="help-block">Leave both password fields blank if you don't want to change your password.</span>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">save account information</button>
                </div>
            }
        </div>
    </div>


}