@import helper._
@(user: SecureSocialUser, profileForm: Form[ProfileFormData])(implicit messages: Messages)
@views.html.webpage.WebpageGeneralLayout("New Diagram", Some(user)) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Edit profile information</h2>
        </div>

        @form(action = controllers.routes.ProfileController.saveChanges) {
            <div class="panel-body">
                <div class="form-group">
                    @if(profileForm.hasGlobalErrors || profileForm.hasErrors) {
                        <ul class="list-group">
                            @for(error <- profileForm.globalErrors) {
                                <li class="list-group-item list-group-item-danger">@messages(error.message)</li>
                            }
                            @for(error <- profileForm.errors) {
                                <li class="list-group-item list-group-item-danger">@messages(error.message)</li>
                            }
                        </ul>
                    }
                    @inputText(profileForm("firstName"), 'class -> "form-control", '_label -> "First Name", 'placeholder -> profileForm.get.firstName)
                    @inputText(profileForm("lastName"), 'class -> "form-control", '_label -> "Last Name", 'placeholder -> profileForm.get.lastName)
                    @inputText(profileForm("fullName"), 'class -> "form-control", '_label -> "Full Name", 'placeholder -> profileForm.get.fullName)
                    @inputText(profileForm("eMail"), 'class -> "form-control", '_label -> "E-Mail", 'placeholder -> profileForm.get.eMail, '_showConstraints -> false, '_showErrors -> false)
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">save profile information</button>
            </div>
        }
    </div>
}