@import models.metaModel.MetaModel_2
@(user: Option[SecureSocialUser], metaModels: Option[List[MetaModel_2]], metaModel: Option[MetaModel_2])

    @views.html.webpage.WebpageGeneralLayout("New Diagram", user) {
        <div class="row">
            <div class="lead col-md-10">
                <p>Hello,
                    @user match {
                        case Some(u) => {
                            @u.profile.fullName
                            !}
                        case _ => { Guest! }
                }
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Your Meta Models</strong>
                    </div>
                    <div class="panel-body">
                    @if(metaModels.isDefined && metaModels.get.nonEmpty) {
                        <div class="list-group">
                        @for(model <- metaModels.get) {
                            <a href="@controllers.webpage.routes.WebpageController.diagramsOverview(model.uuid)" class="list-group-item
                                    @if(metaModel.isDefined && model.uuid == metaModel.get.uuid) {
                                active
                            }
                            ">@model.metaModel.name</a>
                        }
                        </div>
                    } else {
                        There are no meta models.
                    }
                    </div>
                    <div class="panel-footer">
                        <a href="@routes.MetaModelController.newMetaModel" class="btn btn-default">
                            New Meta Model</a>
                    </div>
                </div>
            </div>

            @if(metaModel.isDefined) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Edit Meta Model <em>@metaModel.get.metaModel.name</em></strong>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@routes.CodeEditorController.codeEditor(metaModel.get.uuid, "style")">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <strong>Style</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="@routes.CodeEditorController.codeEditor(metaModel.get.uuid, "shape")">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <strong>Shape</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="@routes.CodeEditorController.codeEditor(metaModel.get.uuid, "diagram")">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <strong>Diagram</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="@routes.MetaModelController.metaModelEditor(metaModel.get.uuid)">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <strong>Meta Model Editor</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="@routes.MetaModelController.deleteMetaModel(metaModel.get.uuid)" class="btn btn-danger">
                                Delete Meta Model
                            </a>
                        </div>
                    </div>
                </div>
            }

            @if(metaModel.isDefined) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Model Instances for Meta Model <em>@metaModel.get.metaModel.name</em></strong>
                        </div>
                        <div class="panel-body">
                            There are no model instances.
                        </div>
                        <div class="panel-footer">
                            <a href="@controllers.routes.ModelController.newModel(metaModel.get.uuid)" class="btn btn-default">
                                New Model Instance</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }