@import models.modelDefinitions.metaModel.{MetaModelEntity, MetaModelShortInfo}
@import models.modelDefinitions.model.{ModelShortInfo}

@(user: Option[SecureSocialUser], metaModels: Seq[MetaModelShortInfo], metaModel: Option[MetaModelEntity], modelInstances: Seq[ModelShortInfo])

@views.html.webpage.WebpageGeneralLayout("New Diagram", user) {
    @if(metaModel.isDefined) {
        <script>
                window.metaModelId = "@metaModel.get.id";
        </script>
    }
    <script src="@routes.Assets.at("webpage/javascripts/diagramOverview.js")"></script>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Projects</strong>
                </div>
                <div class="panel-body">
                @if(metaModels.nonEmpty) {
                    <div class="list-group">
                    @for(metamodel <- metaModels) {
                        <a href="@controllers.webpage.routes.WebpageController.diagramsOverview(metamodel.id)" class="list-group-item list-item-container
                                    @if(metaModel.isDefined && metamodel.id == metaModel.get.id) {
                            active
                        }
                        ">
                            <div data-metamodel-id="@metamodel.id" class="delete-list-item delete-project glyphicon glyphicon-trash"></div>
                            @metamodel.name
                        </a>
                    }
                    </div>
                } else {
                    There are no projects.
                }
                </div>
                <div class="panel-footer">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" id="newMetamodelName" placeholder="New project name">
                            <span class="input-group-btn">
                                <button type=button id="btnCreateMetaModel" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus glyphicon-plus-sign" aria-hidden=true></span>                            </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if(metaModel.isDefined) {
            <div class="col-md-4">
                <div class="panel panel-default overlay-container">
                    @if(modelInstances.nonEmpty) {
                        <div class="overlay" data-toggle="tooltip" title="Locked because there are model instances"></div>
                    }
                    <div class="panel-heading">
                        <strong>Edit Meta Model <em>@metaModel.get.metaModel.name</em></strong>
                    </div>
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@routes.CodeEditorController.codeEditor(metaModel.get.id, "style")">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <strong>Style</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="@routes.CodeEditorController.codeEditor(metaModel.get.id, "shape")">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <strong>Shape</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@routes.CodeEditorController.codeEditor(metaModel.get.id, "diagram")">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <strong>Diagram</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@routes.MetaModelController.metaModelEditor(metaModel.get.id)">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <strong>Meta Model Editor</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button id="btnGenerator" class="btn">
                            Start Generator
                        </button>
                    </div>
                </div>
            </div>
        }

        @if(metaModel.isDefined) {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Model Instances</strong>
                    </div>
                    @if(modelInstances.isEmpty) {
                        <div class="panel-body">
                            There are no model instances.
                        </div>
                    }
                    @for(model <- modelInstances) {
                        <a href="@controllers.routes.ModelController.modelEditor(metaModel.get.id, model.id)" class="list-group-item list-item-container">
                            @model.name
                        <div data-model-id="@model.id" class="delete-list-item delete-model-instance glyphicon glyphicon-trash"></div>
                        </a>
                    }
                    <div class="panel-footer">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" id="newModelName" placeholder="New model name">
                                <span class="input-group-btn">
                                    <button type=button id="btnCreateModelInstance" class="btn btn-default">
                                        <span class="glyphicon glyphicon-plus glyphicon-plus-sign" aria-hidden=true></span>                            </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}