@(title: String, user: Option[SecureSocialUser])(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="icon" type="image/png" href="@routes.Assets.at("webpage/images/favicon.png")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("webpage/stylesheets/main.css")">

        <script type="text/javascript" src="@routes.Assets.at("lib/webcomponentsjs/webcomponents.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
        <title>@title</title>
    </head>
    <body>
        @views.html.webpage.WebpageNavBar(user)
        <div class="container">@content</div>
    </body>
</html>