.paper-container svg {
   /* Grid background image */
   background: white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');
}

.paper-container .labels > .label > text > tspan{
   font-size: 14px;
   font-weight: 700;
   dominant-baseline: central;
   color: red;
}

.paper-container .labels > .label > rect {
   stroke-width: 0;
}

.paper-container .link-tool > .tool-options > circle {
   fill: black;
   fill-opacity: 1;
   stroke-width: 0;
}

.paper-scroller {
    overflow: auto;
}

.export-result-alert {
   z-index: 100;
   width: 300px;
   margin: 0 5px 5px 3px;
   bottom: 15px;
   position: absolute;
}

.paper-container polyline {
   fill: transparent
}