/* Generic layout. */

.toolbar-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 38px;
}

#btn-mmedit {
    cursor: auto;
}

.stencil-container {
    position: absolute;
    left: 0;
    top: 87px; /* toolbar height */
    bottom: 30px; /* statusbar height */
    width: 240px;
    margin: 0;
}

.inspector-container {
    position: absolute;
    top: 87px; /* toolbar height - 1 */
    right: 0;
    bottom: 30px; /* statusbar height */
    width: 240px;
}

.paper-container {
    position: absolute;
    top: 88px; /* toolbar height - 1*/
    left: 241px; /* stencil width + 1 */
    right: 241px; /* inspector width  + 1*/
    bottom: 0; /* statusbar height */
    overflow: hidden;
}

.paper-container .paper-scroller {
    width: 100%;
    height: 100%;
}

.statusbar-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
}

.toggle-container {
    width: 240px;
    background-color: lightblue;
    height: 30px;
    position: absolute;
    bottom: 0;
}

.toggle-container-hidden {
    width: 40px;
}

.paper-container-stencil-hidden {
    left: 41px;
}

.paper-container-inspector-hidden {
    right: 41px;
}

.toggle-icon-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}

.stencil-toggle-icon-wrapper {
    float: right;
}

.panel-default {
    border-radius: 0;
}