.toolbar-container {
    width: 100%;
}

.toolbar-container button:focus {
    outline: none;
}

.toolbar-container .btn-group {
    z-index: 2;
    padding: 1px 0 0 0;
}

.toolbar-gridsize {
    display: inline;
    margin-left: -5px;
    color: black;
    width: 100px;
    height: 34px;
}

.toolbar-gridsize label {
    font-weight: normal;
    margin-right: 5px;
}

.toolbar-gridsize input[type=range], .toolbar-gridsize output {
    display: inline;
}

.toolbar-guidelines {
    display: inline;
    margin-left: -5px;
    color: black;
    width: 150px;
    height: 34px;
}

.toolbar-guidelines label {
    font-weight: normal;
    margin-right: 5px;
}

.toolbar-guidelines input[type=range], .toolbar-guidelines output {
    display: inline;
}

.toolbar-distancelines {
    display: inline;
    margin-left: -5px;
    color: black;
    width: 170px;
    height: 34px;
}

.toolbar-distancelines label {
    font-weight: normal;
    margin-right: 5px;
}

.toolbar-distancelines input[type=range], .toolbar-distancelines output {
    display: inline;
}

.toolbar-container output {
    font-size: .8em;
}

.toolbar-container input[type="range"] {
    width: 150px;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;
}

.toolbar-hover-control {
    display: none;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 33px;
    left: -1px;
    z-index: 1;
}

.toolbar-gridsize:hover > .toolbar-hover-control {
    display: block;
}

.toolbar-distancelines:hover > .toolbar-hover-control {
    display: block;
}

.toolbar-guidelines:hover > .toolbar-hover-control {
    display: block;
}


@media screen and (min-width: 0\0
) {
    /* IE9 & IE10 */
    .toolbar-container input[type="range"] {
        height: 20px;
        text-align: right;
    }

    #output-gridsize {
        display: none;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 only */
    .toolbar-container input[type="range"] {
        height: 5px;
        border-style: hidden;
        box-shadow: none;
        position: absolute;
    }

    #output-gridsize {
        margin-left: 90px;
        display: inline;
    }
}